/* You can add global styles to this file, and also import other style files */

#search {
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
    width: 15em;
}

#createButton {
    display: inline-block;
    margin-left: 3rem;
}