<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo Juzgado</h4>
                    </div>
                    <div class="content">
                        <!-- <form> -->
                        <form #courtForm="ngForm" (ngSubmit)="addCourt(courtForm)">  
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Juzgado</label>
                                        <input type="text" class="form-control" name="name" ngModel required #name="ngModel" placeholder="Nombre de Juzgado">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <input type="text" class="form-control" name="description" ngModel required #description="ngModel" placeholder="Breve descripcion">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" name="address" ngModel required #address="ngModel" placeholder="Dirección">
                                    </div>
                                </div>
                            </div>                          
                            <button type="submit" class="btn btn-info btn-fill pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
